<div *ngIf="employee">
  <div class="container">
    <div class="container">
      <div>
        <h1>{{employee.firstName}} {{employee.lastName}}</h1>
        <div class="form-group">
          <form #form='ngForm' (ngSubmit)='save()'>
            <label>Firstname: </label>
            <input id="firstname" class="form-control" placeholder="Vorname" required
                   [(ngModel)]="employee.firstName" [ngModelOptions]="{standalone:true}">
            <label>Lastname: </label>
            <input id="lastname" class="form-control" placeholder="Nachname" required
                   [(ngModel)]="employee.lastName" [ngModelOptions]="{standalone:true}">
            <label>Street: </label>
            <input id="street" class="form-control" placeholder="Straße & Hausnummer" required
                   [(ngModel)]="employee.street" [ngModelOptions]="{standalone:true}">
            <label>Zipcode: </label>
            <input id="zipcode" class="form-control" placeholder="Postleitzahl" required
                   [(ngModel)]="employee.postcode" [ngModelOptions]="{standalone:true}">
            <label>City: </label>
            <input id="city" class="form-control" placeholder="Stadt" required
                   [(ngModel)]="employee.city" [ngModelOptions]="{standalone:true}">
            <label>Phone: </label>
            <input id="phone" class="form-control" placeholder="Telefonnummer" required
                   [(ngModel)]="employee.phone" [ngModelOptions]="{standalone:true}">
            <p></p>
            <div>
              <button id="buttonCancel" [routerLink]="['']">Abbrechen</button>
              <button id="buttonSave" type="submit">Speichern</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
