button {
  transition-duration: 0.4s;

  color: #515151;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0 0 5px 0;
}

button:hover {
  background-color: #FF9900; /* ORA */
  color: white;
}

#buttonSave{
  background-color: #376e23;
  color: #EEEEEE;
}

#buttonCancel{
  background-color: #FF9900;
}
