<div class="login-container">
  <h2>Anmeldung</h2>
  <input id="username" type="text" placeholder="Benutzername" [(ngModel)]="user" [ngModelOptions]="{standalone:true}"
         required> <br>
  <input type="password" id="password" placeholder="Passwort" [(ngModel)]="password"
         [ngModelOptions]="{standalone:true}" required> <br>
  <input type="button" class="btn1 button" (click)="onLogin()" value="Anmelden">
</div>
