.button {
  transition-duration: 0.4s;

  color: #333;
  text-decoration: none;
  background-color: #EEE;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.btn1:hover {
  background-color: #FF9900; /* ORA */
  color: white;
}

.user .pw {
  transition: width 0.4s ease-in-out;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}

.user:focus .pw:focus {
  width: 50%;
}

.login-container {
  box-shadow: -0px -0px 5px 2px #FF9900, 0px 0px 5px 2px #FF9900;
  background-color: rgba(10, 10, 10, 0.5);
  text-align: center;
  position: absolute;
  padding: 1%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 0.1rem 0;
  box-sizing: border-box;
  font-weight: bold;
}

