a {
  border-radius: 2px;
  padding: 5px 15px;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  min-width: 70px;
  margin: 10px auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

table{
  color: #4CAF50;
}
