<div *ngIf="loggedIn() === false">
  <app-login class="login"></app-login>
</div>
<div *ngIf="loggedIn() === true">
  <!--<nav>
    <a routerLink="/employees">Employees</a>
  </nav>-->
  <router-outlet></router-outlet>
</div>

