@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table {
  border: 1px solid #FF9900;
  border-collapse: collapse;
  width: 100%;
  position: sticky;
  text-align: left;
  table-layout: fixed;
  display: flow;
}
tr:nth-child(even) {
  background: #292929;
}

tr:nth-child(odd) {
  background: #252525
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td{
  padding: 5px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  border-bottom: solid 1px #FF9900;
}

.tbl-content{
  height:33%;
  min-height: 500px;
  overflow-x:auto;
  margin-top: -10px;
}

button{
  transition-duration: 0.2s;

  color: #333;
  text-decoration: none;
  background-color: #EEE;
  border-radius: 4px;
  display: block;
  width: 100%;
  text-align: center;
}

button:hover {
  background-color: #FF9900; /* ORA */
  color: white;
}

.action-button{
  display: flow;
  font-size: small;
  color: black;
  background-color: #FF9900;
  position: center;
  height: 30px;
  width: 75px;
  min-width: 16px;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: .5rem;

}

input {
  padding: .5rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
}

input:focus {
  outline: #FF9900 auto 1px;
}

 #buttonCreate{
   margin-top: 28px;
   padding: .5rem;
   width: 50%;
   max-width: 300px;
   box-sizing: border-box;
   display: block;
   max-height: 50px;
 }

 a{
   text-decoration: none;
 }
