<h1>Mitarbeiter</h1>
<div class="container">
  <div class="row">
    <div class="search-employee col-sm-4">
      <label>Suche:</label>
      <input type="text" name="search" [(ngModel)]="searchText" placeholder="Mitarbeiter suchen">
    </div>
    <div class="add-employee col-sm-4">
      <br>
      <a routerLink="/create/">
        <button id="buttonCreate" (click)="createEmployee()" type="button">Neuer Mitarbeiter</button>
      </a>
    </div>
    <div>

    </div>
    <div class="table-wrapper-scroll-y custom-scrollbar">

      <div class="tbl-header">
        <table>
          <tr>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Street</th>
            <th>Zipcode</th>
            <th>City</th>
            <th>Phone</th>
            <th>Details</th>
            <th></th>
          </tr>
        </table>
      </div>
      <div class="tbl-content">
        <table>
          <tr *ngFor="let e of employees | filter:searchText">
            <td>{{e.lastName}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.street}}</td>
            <td>{{e.postcode}}</td>
            <td>{{e.city}}</td>
            <td>{{e.phone}}</td>
            <td>
              <a routerLink="/detail/{{e.id}}">
                <button (click)="onDetails(e)" [class.selected]="e === selectedEmployee" type="button"
                        class="action-button">Details
                </button>
              </a>
            </td>
            <td>
              <button id="buttonDelete" (click)="onDetails(e)" [class.selected]="e === selectedEmployee" type="button"
                      class="action-button">Löschen
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
