<div class="container">
  <div>
    <h1>Neuer Mitarbeiter</h1>
    <div class="form-group">
      <form #form='ngForm' (ngSubmit)='onCreate()'>
        <label>Firstname: </label>
        <input id="firstname" class="form-control" placeholder="Vorname" required
               [(ngModel)]="firstName" [ngModelOptions]="{standalone:true}">
        <label>Lastname: </label>
        <input id="lastname" class="form-control" placeholder="Nachname" required
               [(ngModel)]="lastName" [ngModelOptions]="{standalone:true}">
        <label>Street: </label>
        <input id="street" class="form-control" placeholder="Straße & Hausnummer" required
               [(ngModel)]="street" [ngModelOptions]="{standalone:true}">
        <label>Zipcode: </label>
        <input id="zipcode" class="form-control" placeholder="Postleitzahl" required
               [(ngModel)]="postcode" [ngModelOptions]="{standalone:true}">
        <label>City: </label>
        <input id="city" class="form-control" placeholder="Stadt" required
               [(ngModel)]="city" [ngModelOptions]="{standalone:true}">
        <label>Phone: </label>
        <input id="phone" class="form-control" placeholder="Telefonnummer" required
               [(ngModel)]="phone" [ngModelOptions]="{standalone:true}">
        <p></p>
        <div>
          <button id="buttonCancel" [routerLink]="['']">Abbrechen</button>
          <button id="buttonCreate" type="submit">Speichern</button>
        </div>
      </form>
    </div>
  </div>
</div>
