/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  height: 100%;
  background-color: #252525;
  color: snow;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
